<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,99},{31,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{31,27}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>abs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,401},{28,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,20}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>arm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,423},{22,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>arm_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,425},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,187},{45,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{45,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>chest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,327},{44,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{44,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,401},{24,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{24,22}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>fist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,400},{33,29}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{33,29}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>foot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,60},{37,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{37,27}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,402},{40,23}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{40,23}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>foot_2_bent.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,371},{42,29}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{42,29}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>foot_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,293},{46,32}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{46,32}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>foot_a_bent.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,296},{46,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{46,29}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>forearm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,327},{28,43}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{28,43}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>forearm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,428},{31,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{31,29}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>forearm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,329},{41,35}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{41,35}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>forearm_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,389},{37,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{37,40}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>forearm_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,465},{33,32}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{33,32}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>forearm_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{44,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{44,37}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>forearm_nohand.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,367},{28,31}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{28,31}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>hair_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,129},{62,55}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{62,55}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>hair_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,241},{62,53}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{62,53}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>hair_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,186},{62,53}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{62,53}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>hand_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,400},{28,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,272},{55,55}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{55,55}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>head_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,181},{67,65}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{67,65}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,132},{50,53}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{50,53}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>head_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,66},{62,61}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{62,61}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>head_HIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{67,67}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{67,67}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>head_HIT_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,114},{67,65}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{67,65}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>idle_blink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,248},{59,43}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{59,43}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>idle_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{27,15}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,64},{27,15}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>idle_hair_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{65,53}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{65,53}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>idle_hair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{67,53}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{67,53}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>idle_hair_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{67,53}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{67,53}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>knee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,327},{35,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{35,42}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>knee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,234},{36,46}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>knee_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,427},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{31,37}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>knee_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,357},{30,42}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>leg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,366},{33,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{36,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>leg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{28,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{28,46}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>leg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{28,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{28,42}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>pelvis_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{36,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>pelvis_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,459},{30,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>shield_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{56,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{56,98}}</string>
                <key>sourceSize</key>
                <string>{84,124}</string>
            </dict>
            <key>shield_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,60},{52,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{52,90}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>shoulder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,364},{34,41}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{34,41}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>shoulder_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,329},{26,36}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{26,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>shoulder_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,460},{25,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{25,31}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>sword_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,62}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{131,62}}</string>
                <key>sourceSize</key>
                <string>{191,92}</string>
            </dict>
            <key>swordhand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{28,43}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{28,43}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43cb4de08be2e50bbe2d29eb63dfeedf$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
