<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,778},{60,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{60,50}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>abs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,490},{54,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{54,36}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>arm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,562},{40,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{40,46}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>arm_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,338},{38,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{38,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{88,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{88,92}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>chest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,592},{86,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{86,82}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>fist.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{44,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,738},{64,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,56}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>foot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,722},{72,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{72,52}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,214},{78,44}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{78,44}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>foot_2_bent.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,680},{78,56}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>foot_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,676},{78,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{78,48}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>foot_a_bent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{80,48}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{80,48}}</string>
                <key>sourceSize</key>
                <string>{112,94}</string>
            </dict>
            <key>forearm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,86},{54,82}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{54,82}}</string>
                <key>sourceSize</key>
                <string>{92,126}</string>
            </dict>
            <key>forearm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,794},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{56,56}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>forearm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,648},{80,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{80,66}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>forearm_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,258},{70,76}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{70,76}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>forearm_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{62,62}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{94,84}</string>
            </dict>
            <key>forearm_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,170},{86,70}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>forearm_nohand.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,738},{54,60}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,34},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>hair_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,244},{122,108}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{122,108}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>hair_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,458},{122,102}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,77},{122,102}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>hair_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,354},{122,102}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,77},{122,102}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>hand_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{50,52}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,484},{108,106}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{108,106}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>head_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{132,126}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,59},{132,126}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,548},{98,104}}</string>
                <key>offset</key>
                <string>{12,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,89},{98,104}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>head_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,124},{122,118}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,77},{122,118}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>head_HIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,57},{132,132}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>head_HIT_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,214},{132,126}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,59},{132,126}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>idle_blink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,402},{114,80}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,73},{114,80}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>idle_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,546},{50,28}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,127},{50,28}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>idle_hair_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,446},{128,100}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{128,100}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>idle_hair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{130,102}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,60},{130,102}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>idle_hair_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,342},{132,102}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,59},{132,102}}</string>
                <key>sourceSize</key>
                <string>{158,202}</string>
            </dict>
            <key>knee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,616},{66,82}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{66,82}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>knee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{68,90}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{68,90}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>knee_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,716},{60,72}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{60,72}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>knee_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{56,82}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{56,82}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>leg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,592},{58,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{58,78}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,336},{70,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{70,64}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>leg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,562},{52,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{52,88}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>leg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,684},{52,80}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{52,80}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pelvis_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,776},{70,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{70,48}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>pelvis_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,796},{56,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{56,48}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>shield_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{108,192}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{108,192}}</string>
                <key>sourceSize</key>
                <string>{164,244}</string>
            </dict>
            <key>shield_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,112},{100,176}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{100,176}}</string>
                <key>sourceSize</key>
                <string>{148,220}</string>
            </dict>
            <key>shoulder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,616},{62,78}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{62,78}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>shoulder_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,726},{50,70}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>shoulder_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,672},{48,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{48,58}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>sword_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,27},{258,120}}</string>
                <key>sourceSize</key>
                <string>{378,180}</string>
            </dict>
            <key>swordhand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{54,82}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{54,82}}</string>
                <key>sourceSize</key>
                <string>{92,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9182ccc0d7954d96d2c49b2fe9db4b84$</string>
            <key>textureFileName</key>
            <string>hero-hd.png</string>
        </dict>
    </dict>
</plist>
